.one_block p {
  opacity: 0.8;
    }
.one_block {
  border-bottom: 1px solid #ccc
}
.why_frontand {
  border-bottom: 1px solid #ccc
}
.contact {
  border-bottom: 1px solid #ccc
}
.contactvk {
  border-bottom: 1px solid #ccc
}
.body {
  margin: 50px,190px,0,190px;
}
